body {
  background-color: white;
  color: black
}

.box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center
}
.box-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  padding: 10px;
}
.group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.trigger {
  box-sizing: border-box;
  border: 1rem solid white;
  flex-basis:30vw;
  height:25vw;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:default; 
  background-color: white;  
  background-position: center; /* 0px 0px; */
  background-repeat: no-repeat;
  background-color: white;
}
.trigger:hover {
  border: 0.2rem solid black;
  border-radius: 1rem;
}

img {
  width: 98%;
  min-width: 200px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content1,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-content6,.modal-content7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 85%;
  height: 85%;
  overflow: auto;
  border-radius: 0.5rem;
  text-align: center;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.node {
  cursor: pointer;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}

#clickerWrapper {
  top: 0;
  z-index: 1;
  display: block;
  position: relative;
  width: 600px;
  padding-top: 5px;
  visibility: auto;
  text-align: center;
  margin: 0 auto;
}

#clicker {
  z-index: 1;
  display: block;
  font-size: 30px;
  font-weight: 300;
  color: #081EFF;
  position: relative;
  /*width: 80px;*/
  text-align: center;
  width: 30%;
  margin: 0 auto;
  border: 1px solid;
  border-color: #081EFF;
  cursor: pointer;
}
.modal-content2 {
  background-color: #101420;
}

.modal-content7 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: #101420;
  font-family: 'Muli', sans-serif;
  color: #a8a394;  display: flex; /* required */
  flex-flow: row nowrap; /* required */
}
.canvas-nodes, .canvas-links, .canvas-captions {
  box-sizing: border-box; /* required */
  flex: none; /* required */
  pointer-events: none;
  z-index: -1;
  /* to check if overlay is aligned */
  /*border: 2px solid white;*/ 
}
.canvas-nodes, .canvas-captions {
  margin-left: -1250px;
}

.modal-content7 svg {
  z-index: 2;
  flex: none; 
  margin-left: -1250px;
}
.hoverRect {
  fill: none;
  pointer-events: all;
}



/* if mobile device max width 420px */
@media screen and (max-width: 420px){ 
  .group, .trigger {
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
  }
  .box-group {
    width: 100vw;
  }
}
