#scrolly-overlay .scrolly {
  max-width: 60rem;
  margin: 3rem auto;
  padding: 1rem;
}
 
article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}

.step {
  min-height: 67vh;
  margin-bottom: 1rem;
  border: 1px white;
  transition: background-color 250ms ease-in-out;
}

.step:last-of-type {
  margin-bottom: 0;
}
.step.is-active {
  background-color: gray;
}
}

article > p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  color: black;
} 

figure.sticky {
  position: sticky;
  width: 100%;
  height: 80vh;
  border: 1px white;
  margin: 0;
  top: 5vh;
  left: 0;
}

.bowl {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background-color: transparent;
}
